html {
    box-sizing: border-box;
    background: #eeeeee;
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
  }
  
  body {
    margin: 0%;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .container {
    max-width: 700px;
    margin-top: 0%;
    margin-right: 5%;
    margin-left: 5%;
    background: white;
    padding: 0px;
    text-align: justify;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
    transform: scale(0.98);
    transition: transform 0.5s;
  }
  
  .fixed-nav {
    transform: scale(1);
  }
  
  header {
    text-align: center;
    background-color: grey;
    height: 10vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  h1 {
    color: white;
    font-size: 2vw;
    text-shadow: 3px 4px 0 rgba(0,0,0,0.2);
  }
  
  nav {
    background: black;
    top: 0;
    width: 100%;
    transition:all 0.5s;
    position: relative;
    z-index: 1;
  }
  
  body.fixed-nav nav {
    position: fixed;
    box-shadow: 0 5px 0 rgba(0,0,0,0.1);
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  
  nav li {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
 
  nav a {
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    color: white;
    transition: all 0.2s;
    text-transform: uppercase;
  }

  /* Making the expanding part */

  details {
    user-select: none;
  }
  
  details[open] {
    padding: 0.5em;
  }

  details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
  }

  summary {
    display: flex;
    cursor: pointer;
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
  }
  
    summary::-webkit-details-marker {
    display:none
  }

  /* Making the tables and cells look better */

div { padding-bottom : 2em; }
table { border-collapse:collapse; page-break-after:always; margin-bottom: 2em; }
td { padding:0.4em; vertical-align:center; font-family:'Arial' }
td.day { text-align:center; font-weight:bold; font-size:14pt }
td.exercises { font-size: 12pt; }
td.sets { padding-left: 2em; padding-right: 2em; }
td.style7 { text-align:center; }
td.style9 { font-weight:bold; color:#000000; }
td.style14 { font-weight:bold; background-color:#D8D8D8 }

/* Changes for the SAS  workouts */

td {
  padding: 0.5em;
  white-space: nowrap;
}

th {
  padding: 0.5em;
  white-space: nowrap;
}

#calendar td {
  background-color: aliceblue;
  border: 1px;
}